:root {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 0;
}

h2, h3, h4, h5 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.title-block {
  margin: 10px;
  text-align: center;
}

.title-image {
  max-width: 320px;
  margin: 0 auto;
}

.byline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.byline:not(:first-child) {
  margin-top: 15px;
}

.intro, .outro {
  max-width: 800px;
  padding: 0 10px;
}

.intro {
  margin: 0 auto 30px auto;
}

.outro {
  margin: 20px auto 50px auto;
}

.group {
  display: flex;
  width: 100%;
}

.group.first {
  border-top: 1px solid #ddd;
}

.group.first .left .content, .group.first .right .content {
  padding-top: 20px;
}

.group.last {
  border-bottom: 1px solid #ddd;
}

.group .left {
  flex: 2;
}

.group .right {
  flex: 3;
}

.group .left, .group .right {
  display: flex;
}

.group .left .content, .group .right .content {
  background-color: inherit;
  box-shadow: none;
  padding: 0 20px 26.4px 20px;
}

.group .left .content.empty, .group .right .content.empty {
  padding: 0;
}

.group .right {
  background-color: #f0f0f0;
}

.group .right .content {
  font-size: 90%;
}

.content h3, .content h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px 0;
}

.content p {
  margin-top: 0;
  margin-block-start: 0;
}

.content p:last-child {
  margin-bottom: 0;
  margin-block-end: 0;
}

.content ul, .content ol {
  margin: 0;
  padding-inline-start: 1em;
}

mark {
  background-color: rgba(255, 245, 137, 0.5);
}

mark:hover {
  cursor: pointer;
  background-color: #fff589;
}

mark.selected {
  background-color: #fff589;
}

mark[data-annotation-id]::after {
  content: attr(data-annotation-id);
  content: attr(data-annotation-id)/"";
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  padding: 1px;
  text-align: center;
  margin-left: 3px;
  margin-right: 2px;
  bottom: 2px;
}

.content > .annotation:not(:first-child), .content .content:not(:first-child), .content .annotation-group:not(:first-child) {
  margin-top: 10px;
}

.annotation {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
}

.annotation:hover {
  cursor: pointer;
}

.annotation[role=comment][data-annotation-id]::after, .annotation-group[role=comment][data-annotation-id]::after {
  content: attr(data-annotation-id);
  content: attr(data-annotation-id)/"";
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 12px;
  padding: 3px;
  text-align: center;
  left: -8px;
  top: -8px;
}

.annotation[role=comment], .annotation-group[role=comment] {
  position: relative;
}

.annotation-group .annotation:not(:first-child) {
  border-top-width: 0;
}

.annotation.selected,
.annotation-group.selected .annotation {
  border-color: #999;
  background-color: #fffeef;
}

.commenter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: #999;
}

.no-margin {
  margin: 0 !important;
}

.small {
  font-size: 80%;
}

.fine-print {
  font-size: 70%;
}

.annotation-group .annotation.thread {
  margin-left: 10px;
}

.annotation-group .annotation.thread-2 {
  margin-left: 20px;
}

.annotation-group .annotation.thread-3 {
  margin-left: 30px;
}

.annotation-group .annotation.thread-4 {
  margin-left: 40px;
}

.annotation-group .annotation.thread-5 {
  margin-left: 50px;
}

.annotation-group .annotation.thread-6 {
  margin-left: 60px;
}

.annotation-group .annotation.thread-7 {
  margin-left: 70px;
}

.annotation-group .annotation.thread-8 {
  margin-left: 80px;
}

.annotation-group .annotation.thread-9 {
  margin-left: 90px;
}

.annotation-group .annotation.thread-10 {
  margin-left: 100px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Responsive */
@media screen and (min-width: 1801px) {
  .group .left .content {
    padding-left: 20%;
    padding-right: 40px;
  }

  .group .right .content {
    padding-left: 40px;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1800px) {
  .group .left .content, .group .right .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 751px) {
  .group .left .content, .group .right .content {
    max-width: 800px;
  }
  .group .left .content {
    float: right;
  }
}

@media screen and (max-width: 750px) {
  .group {
    flex-direction: column;
  }
  .group .left .content, .group .right .content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .group .left .content {
    padding-top: 26.4px;
  }
  .annotation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
  }
  .content > .annotation, .annotation-group {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .group .left .content, .group .right .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* No-JS tweaks */
.no-jsmark:hover {
  cursor: auto !important;
  background-color: rgba(255, 245, 137, 0.5) !important;
}

.no-js.annotation:hover {
  cursor: auto !important;
}

