:root {
  -webkit-text-size-adjust: 100%;
  --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --border-color: hsl(0, 0%, 87%);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: hsl(0, 0%, 0%);
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}

h2, h3, h4, h5 {
  font-family: sans-serif;
  font-family: var(--sans-serif);
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.title-block {
  margin: .625rem;
  text-align: center;
}

.title-image {
  max-width: 20rem;
  margin: 0 auto;
}

.byline {
  font-family: sans-serif;
  font-family: var(--sans-serif);
  font-size: 80%;
  max-width: 32rem;
  margin: 0 auto;
}

.byline:not(:first-child) {
  margin-top: 1rem;
}

.intro, .outro {
  max-width: 50rem;
  padding: 0 1rem;
}

.intro {
  margin: 0 auto 2rem auto;
}

.outro {
  margin: 1.4rem auto 3rem auto;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.group.first {
  border-top: 1px solid var(--border-color);
}

.group.first .left .content, .group.first .right .content {
  padding-top: 1.25rem;
}

.group.last {
  border-bottom: 1px solid var(--border-color);
}

.group .left {
  flex: 2;
}

.group .right {
  flex: 3;
}

.group .left, .group .right {
  display: flex;
}

.group .left .content, .group .right .content {
  background-color: inherit;
  box-shadow: none;
  padding: 0 1.25rem 1.65rem 1.25rem;
}

.group .left .content.empty, .group .right .content.empty {
  padding: 0;
}

.group .right {
  background-color: hsl(0, 0%, 94%);
}

.group .right .content {
  font-size: 90%;
}

.content h3, 
.content h4 {
  font-family: sans-serif;
  font-family: var(--sans-serif);
  margin: 0 0 1.25rem 0;
}

.content p {
  margin-top: 0;
  margin-block-start: 0;
}

.content p:last-child {
  margin-bottom: 0;
  margin-block-end: 0;
}

.content ul, 
.content ol {
  margin: 0;
  padding-inline-start: 1rem;
}

mark {
  background-color: hsla(55, 100%, 77%, 0.5);
}

mark:hover {
  cursor: pointer;
  background-color: hsla(55, 100%, 77%, 1);
}

mark.selected {
  background-color: hsla(55, 100%, 77%, 1);
}

mark[data-annotation-id]::after {
  content: attr(data-annotation-id);
  content: attr(data-annotation-id)/"";
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 0%);
  width: .625rem;
  height: .625rem;
  font-size: .625rem;
  line-height: .625rem;
  padding: 1px;
  text-align: center;
  margin-left: 3px;
  margin-right: 2px;
  bottom: 2px;
}

.content > .annotation:not(:first-child), 
.content .content:not(:first-child), 
.content .annotation-group:not(:first-child) {
  margin-top: .625rem;
}

.annotation {
  background-color: hsl(0, 0%, 100%);
  padding: .625rem;
  border: 1px solid var(--border-color);
}

.annotation:hover {
  cursor: pointer;
}

.annotation[role=comment][data-annotation-id]::after, 
.annotation-group[role=comment][data-annotation-id]::after {
  content: attr(data-annotation-id);
  content: attr(data-annotation-id)/"";
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: .875rem;
  height: .875rem;
  font-size: .875rem;
  line-height: 1;
  padding: 3px;
  text-align: center;
  left: -8px;
  top: -8px;
}

.annotation[role=comment], 
.annotation-group[role=comment] {
  position: relative;
}

.annotation-group .annotation:not(:first-child) {
  border-top-width: 0;
}

.annotation.selected,
.annotation-group.selected .annotation {
  border-color: hsl(0, 0%, 60%);
  background-color: hsl(56, 100%, 97%);
}

.commenter {
  font-family: sans-serif;
  font-family: var(--sans-serif);
  font-size: 80%;
  color: hsl(0, 0%, 60%);
}

.no-margin {
  margin: 0;
}

.small {
  font-size: 80%;
}

.fine-print {
  font-size: 70%;
}

.annotation-group .annotation.thread {
  margin-left: .625rem;
}

.annotation-group .annotation.thread-2 {
  margin-left: 1.25rem;
}

.annotation-group .annotation.thread-3 {
  margin-left: 1.5rem;
}

.annotation-group .annotation.thread-4 {
  margin-left: 1.75rem;
}

.annotation-group .annotation.thread-5 {
  margin-left: 2rem;
}

.annotation-group .annotation.thread-6 {
  margin-left: 2.25rem;
}

.annotation-group .annotation.thread-7 {
  margin-left: 2.5rem;
}

.annotation-group .annotation.thread-8 {
  margin-left: 2.75rem;
}

.annotation-group .annotation.thread-9 {
  margin-left: 3rem;
}

.annotation-group .annotation.thread-10 {
  margin-left: 3.25rem;
}



/* Responsive */
@media screen and (min-width: 1801px) {
  .group .left .content {
    padding-left: 20%;
    padding-right: 2.5rem;
  }

  .group .right .content {
    padding-left: 2.5rem;
    padding-right: 20%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1800px) {
  .group .left .content, .group .right .content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 751px) {
  .group .left .content, .group .right .content {
    max-width: 50rem;
  }

  .group .left .content {
    float: right;
  }
}

@media screen and (max-width: 750px) {
  .group {
    flex-direction: column;
  }

  .group .left .content, .group .right .content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .group .left .content {
    padding-top: 1.65rem;
  }

  .annotation {
    font-family: sans-serif;
    font-family: var(--sans-serif);
    font-size: 90%;
  }

  .content > .annotation, .annotation-group {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .group .left .content, .group .right .content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

/* No-JS tweaks */
.no-jsmark:hover {
  cursor: auto;
  background-color: hsla(55, 100%, 77%, 0.5);
}

.no-js.annotation:hover {
  cursor: auto;
}

