  <meta property="og:locale" content="{{head.meta.locale}}" />
  <meta name="theme-color" content="{{head.meta.theme-color}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{head.icon.apple-touch-icon}}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{head.icon.icon-png-32x32}}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{head.icon.icon-png-16x16}}" />
  <meta property="og:site_name" content="{{head.meta.site-name}}" />
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{head.description}}" />
  <meta name="description" content="{{head.description}}" />
  <meta name="author" content="{{authorship}}" />
  <meta property="og:image" content="{{head.meta.image}}" />
  <meta property="og:image:alt" content="{{head.meta.image-alt}}" />
  <meta property="og:image:width" content="{{head.meta.image-width}}" />
  <meta property="og:image:height" content="{{head.meta.image-height}}" />
  <meta property="og:url" content="{{head.meta.url}}" />
  <meta name="twitter:card" content="{{head.meta.twitter-card}}" />
  <meta name="twitter:creator" content="{{head.meta.twitter-creator}}" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{head.description}}" />
  <meta name="twitter:image" content="{{head.meta.image}}" />
  <meta name="twitter:image:alt" content="{{head.meta.image-alt}}" />
